NODE_ENV=production
DATABASE=mongodb://localhost:27017/notebook
MAIL_USER=domeybenjamin1@gmail.com
MAIL_PASS=ornqftprqyxfxasb
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
PORT=3000
MAP_KEY=AIzaSyD9ycobB5RiavbXpJBo0Muz2komaqqvGv0
SECRET=snickers
KEY=sweetsesh
PUSHER_APP_ID=830345
PUSHER_APP_KEY=80f95a2c2210f53093ae
PUSHER_APP_SECRET=17bf8b4339cbbb711267
PUSHER_APP_CLUSTER=eu