<!DOCTYPE html>
<html class="no-js" lang="en">

	
<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	  <title><%= title%> - Notebook</title>
	  
	  <!-- Bootstrap core CSS -->
	  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	  
	  <!-- Custom fonts for this template -->
	  <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	  
	  <!-- Custom fonts for this template -->
	  <link href="assets/plugins/themify/css/themify.css" rel="stylesheet" type="text/css">
	  
	  <!-- Page level plugin CSS -->
	  <link href="assets/dist/css/animate.css" rel="stylesheet">
	  
	  <!-- Custom styles for this template -->
	  <link href="assets/dist/css/glovia.css" rel="stylesheet">
	  <link href="assets/dist/css/glovia-responsive.css" rel="stylesheet">
	  
	  <!-- Custom styles for Color -->
	  <link id="jssDefault" rel="stylesheet" href="assets/dist/css/skins/default.css">
	</head>

	<body>
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<section class="error-page text-center">
						<h1 class="text-danger">Error</h1>
						<h3 class="text-info">Opps!!</h3>
						<p>Sorry, please contact administrator. The page you are requesting for is restricted.</p>
						<a href="/" class="btn cl-white no-br bg-danger">Go To Home Page</a>
					</section>
				</div> <!-- .login-sidebar -->
			</div> <!-- .row -->
			<script src="assets/plugins/jquery/jquery.min.js"></script>
			<script src="assets/dist/js/jQuery.style.switcher.js"></script>
			<script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}
				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
			
			
	</body>
	
</html>

